$black: #000000;
$white: #ffffff;

// $primary: #fd79ab;
// $secondary: #badefc;

$brown-dark: #a8734a;
$brown-light: #e9b287;

$red-dark: #772d26;
$red-light: #b66862;

$green-dark: #559e4a;
$green-light: #92df87;

$yellow-dark: #bdcc71;
$yellow-light: #ffffb0;

$purple-dark: #42348b;
$purple-light: #7e70ca;

$pink-dark: #a85fb4;
$pink-light: #e99df5;

$blue-dark: #85d4dc;
$blue-light: #c5ffff;

$bg: $black;
$fg: $brown-light;

$bg-trans: rgba($bg, 0.8);
