<aside class="profile">
  {{ $profile_image := .Resources.GetMatch "glasket.webp" }}
  {{ $profile_image := $profile_image.Resize "480x" }}
  <a href="glasket.webp"
    ><img
      src="{{ $profile_image.RelPermalink }}"
      width="{{ $profile_image.Width }}"
      height="{{ $profile_image.Height }}"
  /></a>
  <dl class="profile__links">
    {{ range .Site.Menus.social }}
      {{ $name := print .Name | safeHTML }}
      {{ $display := print .Title | safeHTML }}
      <dt>{{ $name }}</dt>
      <dd><a href="{{ .URL }}">{{ $display }}</a></dd>
    {{ end }}
  </dl>
</aside>
